In [1]:
import pandas as pd

Used a wikipedia site for the list of postal codes, borough and neighbourhood in Toronto, Ca.

In [2]:
# URL from wiki page
url = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&direction=prev&oldid=946126446'

In [3]:
# Selecting first table with pandas function
df = pd.read_html(url)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

I removed the rows that had an 'Not assigned' values in the Borough column and checked that there were not any 'Not assigned' values in the Neighbourhood column.

In [4]:
# Remove rows containing Not assigned values
df = df[~df.Borough.str.contains('Not assigned')]
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [5]:
# Check if there is any Not assigned in the Neighbourhood column
df[df['Neighbourhood'] == 'Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

The dimension of the final dataframe was 210 rows and 3 columns.

In [6]:
df.shape

(210, 3)

I used the dataframe provided with the coordinates of each postal code to merge it with the current dataframe.

In [15]:
# Import coordinates files for each postal code
coordinates = pd.read_csv('Geospatial_Coordinates.csv')
coordinates = coordinates.rename(columns = {'Postal Code':'Postcode'})
coordinates.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [16]:
df_final = pd.merge(df, coordinates, how = 'left', on = 'Postcode')
df_final

    Postcode           Borough             Neighbourhood   Latitude  Longitude
0        M3A        North York                 Parkwoods  43.753259 -79.329656
1        M4A        North York          Victoria Village  43.725882 -79.315572
2        M5A  Downtown Toronto              Harbourfront  43.654260 -79.360636
3        M6A        North York          Lawrence Heights  43.718518 -79.464763
4        M6A        North York            Lawrence Manor  43.718518 -79.464763
..       ...               ...                       ...        ...        ...
205      M8Z         Etobicoke  Kingsway Park South West  43.628841 -79.520999
206      M8Z         Etobicoke                 Mimico NW  43.628841 -79.520999
207      M8Z         Etobicoke        The Queensway West  43.628841 -79.520999
208      M8Z         Etobicoke     Royal York South West  43.628841 -79.520999
209      M8Z         Etobicoke            South of Bloor  43.628841 -79.520999

[210 rows x 5 columns]